/* Searchinput */
.movieSearchInput {
  margin-top: 20px;
}
.empty-movies {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 5px solid lightgray;
  width: fit-content;
  margin: 40px auto 0 auto;
  padding: 5px;
  border-radius: 10px;
}

.input-box {
  display: flex;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: white;
  margin: 0 auto;
  max-width: fit-content;
  padding: 5px;
}
.input-box input {
  outline: none;
  padding: 5px;
  border: none;
  height: 20px;
  overflow: hidden;
  font-size: 20px;
  color: rgb(209, 61, 61);
}

.input-box button {
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  color: rgb(209, 61, 61);
}

/* MoviesList */
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
  column-gap: 15px;
  max-width: 80%;
  margin: 20px auto;
}
.movie-card {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 20px;
  overflow: hidden;
  max-height: 40vh;
}
.movie-card .movie-poster {
  max-height: 40vh;
  object-fit: fill;
}

.movie-details {
  width: 100%;
  display: block;
  padding: 0 0 0 5px;
  position: absolute;
  bottom: 2px;
  color: white;
  transform: translateY(0.125rem);
  transition: all 1s, linear;
}

.movie-details::before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 50px 40px 250px #ae0202, inset -50px -40px 250px #000000;
  filter: blur(10px);
  transition: all 1s, linear;
}

.movie-details-hide {
  display: none;
}

.movie-card .movie-title {
  font-size: 16px;
  font-weight: bold;
}

.movie-type {
  position: relative;
  background-color: yellow;
  max-width: fit-content;
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: default;
}

.movie-type .movie-type-name {
  visibility: hidden;
  width: fit-content;
  background-color: purple;
  color: white;
  text-align: center;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
}

.movie-type:hover .movie-type-name {
  visibility: visible;
}
